<!-- <div class="container"> -->
  <div class="inner-container">
    <div class="reg-form">
      <form #form="ngForm" (ngSubmit)="onSaveBtn()">
        <h1>Employee Registration</h1>
        <!-- <div class="form-group">
          <label for="">Id</label>
          <input type="text" name="id" [(ngModel)]="employee.id" />
        </div> -->

        <div class="form-group">
          <label for="">First Name</label>
          <input
            type="text"
            name="firstName"
            [(ngModel)]="employee.firstName"
          />
        </div>

        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" name="lastName" [(ngModel)]="employee.lastName" />
        </div>

        <!-- <div class="form-group form-group-inline"> -->

        <div class="form-group">
          <label for="">Gender</label>
          <input type="text" name="gender" [(ngModel)]="employee.gender" />
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input type="text" name="email" [(ngModel)]="employee.email" />
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input
            type="text"
            name="phoneNumber"
            [(ngModel)]="employee.phoneNumber"
          />
        </div>
        <div class="form-group">
          <label for="">Adress</label>
          <input type="text" name="adress" [(ngModel)]="employee.adress" />
        </div>
        <div class="form-group">
          <label for="">Salary</label>
          <input type="text" name="salary" [(ngModel)]="employee.salary" />
        </div>
        <!-- <div class="form-group">
          <label for="">Department</label>
          <input
            type="text"
            name="departmentId"
            [(ngModel)]="employee.departmentId"
          />
        </div> -->
        <div class="form-group">
          <label for=""> Department: </label><br>
    <select name="singleSelect" [(ngModel)]="employee.departmentId">
      <option value=1>Economy</option>
      <option value=2>IT</option>
      <option value=3>Marketing</option>
      <option value=4>Sales</option>
    </select>
        </div>
        <!-- </div> -->
        <div class="form-group" style="padding-left: 12%; padding-top: 5%;">
          <button class="savebtn">Add Employee</button>
          <button class="resetbtn" type="reset" value="Reset" width="5px">Reset Form</button>
        </div>
          
      </form>
    </div>

    <!-- <div class="reg-grid">
      <h1>Employees</h1>
      <div
        (click)="populateForm(employee)"
        class="card-row"
        *ngFor="let employee of employees"
      >
        <div class="card-row-details">
          <span>
            Name: {{ employee.firstName }} {{ employee.lastName }}
            {{ employee.email }}</span
          >
        </div>

        <div class="card-row-action">
          <a (click)="onDelete(employee.id)"
            ><i class="fa-solid fa-trash-can"></i
          ></a>
        </div>
      </div>
    </div> -->
    
    <div class="reg-grid">
      <h1 style=>Economy</h1>
      <div (click)="populateForm(employee)"
        class="reg-row"
        *ngFor="let employee of economyemployees"
      >
      <table class="spacertbl">
        <tr>
          <th class="brdrhide">Name:</th>
          <td class="brdrhide">{{employee.firstName}} {{employee.lastName}} </td>
        </tr>
        <tr>
          <th class="brdrhidetwo">Email:</th>
          <td class="brdrhidetwo">{{employee.email}}</td>
        </tr>
        
    </table>
    <div class="reg-row-action">
      <a (click)="populateForm(employee)"><i class="fa-solid fa-pen-nib"></i></a>
    </div>
    <div class="reg-row-action">
      <a (click)="onDelete(employee.id)" 
        ><i class="fa-solid fa-x"></i></a>
    </div>
    
      </div>
    </div>
    <div class="reg-grid">
      <h1>It</h1>
      <div (click)="populateForm(employee)"
        class="reg-row"
        *ngFor="let employee of itemployees"
      >
      <table class="spacertbl">
        <tr>
          <th class="brdrhide">Name:</th>
          <td class="brdrhide">{{employee.firstName}} {{employee.lastName}} </td>
        </tr>
        <tr>
          <th class="brdrhidetwo">Email:</th>
          <td class="brdrhidetwo">{{employee.email}}</td>
        </tr>
        
    </table>
    <div class="reg-row-action">
      <a (click)="populateForm(employee)"><i class="fa-solid fa-pen-nib"></i></a>
    </div>
    <div class="reg-row-action">
      <a (click)="onDelete(employee.id)"
        ><i class="fa-solid fa-x"></i></a>
    </div>
    
      </div>
    </div>

    <div class="reg-grid">
      <h1>Marketing</h1>
      <div (click)="populateForm(employee)"
        class="reg-row"
        *ngFor="let employee of marketemployees"
      >
      <table class="spacertbl">
        <tr>
          <th class="brdrhide">Name:</th>
          <td class="brdrhide">{{employee.firstName}} {{employee.lastName}} </td>
        </tr>
        <tr>
          <th class="brdrhidetwo">Email:</th>
          <td class="brdrhidetwo">{{employee.email}}</td>
        </tr>
        
    </table>
        
        <div class="reg-row-action">
          <a (click)="populateForm(employee)"><i class="fa-solid fa-pen-nib"></i></a>
        </div>
        <div class="reg-row-action">
          <a (click)="onDelete(employee.id)"
            ><i class="fa-solid fa-x"></i></a>
        </div>
      </div>
    </div>

    <div class="reg-grid">
      <h1>Sales</h1>
      <div (click)="populateForm(employee)"
        class="reg-row"
        *ngFor="let employee of salesemployees"
      >
      <table class="spacertbl">
        <tr>
          <th class="brdrhide">Name:</th>
          <td class="brdrhide">{{employee.firstName}} {{employee.lastName}} </td>
        </tr>
        <tr>
          <th class="brdrhidetwo">Email:</th>
          <td class="brdrhidetwo">{{employee.email}}</td>
        </tr>
        
    </table>
    
    <div class="reg-row-action">
      <a (click)="populateForm(employee)"><i class="fa-solid fa-pen-nib"></i></a>
    </div>
    <div class="reg-row-action">
      <a (click)="onDelete(employee.id)"
        ><i class="fa-solid fa-x"></i></a>
    </div>
    </div>
  </div>
  
<!-- </div> -->
